<!-- _form.html.erb -->
<% if @drama.errors.any? %>
  <ul>
    <% @drama.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<table>
  <tr>
    <div class="form-group<%= (f.object.errors[:name].any?)? " has-error" : "" %>">
      <td><%= f.label :name, "*Name" %></td>
      <td><%= f.text_field :name, :class => "form-control" %></td>
    </div>
  </tr>
  <tr>
    <div class="form-group">
      <td><%= f.label :date, "Date:" %></td>
      <td><%= f.date_select :date %></td>
      </div>
  </tr>
  <tr>
    <div class="form-group">
    <td><%= f.label :actor, "Actor(s):" %></td>
    <td><%= f.text_area :actor %></td>
    </div>
  </tr>
</table>