<!-- _form.html.erb -->
<% if @drama.errors.any? %>
  <ul>
    <% @drama.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<table>
  <tr>
    <td><%= f.label :name, "Name:" %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.label :date, "Date:" %></td>
    <td><%= f.date_select :date %></td>
  </tr>
  <tr>
    <td><%= f.label :actor, "Actor(s):" %></td>
    <td><%= f.text_area :actor %></td>
  </tr>
</table>