<%= form_for @drama, :url => japan_drama_path(@drama) do |f| %>
  <table>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :date, "Date" %>
    <%= f.text_area :date %>
    <br>
    <%= f.label :actor, "Actor(s)" %>
    <%= f.text_area :actor %>
    <br>
    <%= f.submit "Update" %>
  </table>
<% end %>