<!-- <%= link_to 'New Event', new_japan_drama_path %> -->
<!-- <p><%= link_to new_japan_drama_path, class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-plus"></span>
    New event
  <% end %>
</p> -->

<table class="table table-hover">
<tr>
  <th>Name</th>
  <th>Actions</th>
</tr>
<% @dramas.each do |drama| %>
  <tr>
    <td><%= drama.name %></td>
    <td><%= link_to 'Show', japan_drama_path(drama), class: "btn btn-default" %></td>
    <td><%= link_to 'Edit', edit_japan_drama_path(drama), class: "btn btn-default" %></td>
    <td><%= link_to 'Delete', japan_drama_path(drama), class: "btn btn-danger", :method => :delete, :data => { :confirm=> "Are you sure?" } %></td>
  </tr>
<% end %>
</table>

<br>

<span><%= paginate @dramas %></span>

<br><br>

<div>
  <%= form_for @drama, :html => { :role => "form" } do |f| %>
    <%= render 'form', :f => f %>
    <%= f.submit "Create", :class => "btn btn-primary" %>
  <% end %>
</div>